.contactPage{
  @include size(100vw, 100%);
  padding: 10px;
  margin: 0;
  background: url("../img/wave.svg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  transform: translateY(100px);
  opacity: 0;
  transition: 1s;

  @media(min-width: 510px){
  background: url("../img/wave-ipad.svg");
  background-repeat: no-repeat;
  background-size: cover;
  }

  @media(min-width: 1060px){
    background: url("../img/wave-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
  
    }
}

.contactReset{
  transform: none;
  opacity: 1;
}

.contactPage__title{
  @include font(1.5em, bold);
  margin-bottom: 50px;
  @media (min-width: 1060px){
    margin-bottom: 0px;
    margin-top: 32px;
  }
}

.contactPage__contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  overflow-wrap: break-word;

  @media (min-width: 1060px){
    justify-content: flex-end;
    height: 300px;
  }
}


.contactPage__contact h3{
  @include font(0.8em, lighter);
  color: white;
  margin-bottom: 10px;
  margin-top: 20px;
}

.contactPage__contact h4{
  @include font(1.2em, bold);
  color: white;
  margin: 10px;
}

.contactPage__contact h4:nth-of-type(1){
  margin-bottom: 10px;
}