.experiencePage{
  @include size;
  padding: 10px;
}

.experiencePage__title{
  @include font(1.5em, bold);
  margin-bottom: 50px;
}

.experiencePage__experiences{
  margin: 0 auto;
  touch-action: manipulation;
}

.experiences__experience{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.experiences__experience > *{
  margin-bottom: 40px;
}

.info__title{
  @include font(1.2em, bold);
  margin-bottom: 10px;
}

.info__skills{
  @include font(0.8em, lighter);
}



