.footer{
  @include size(100vw, 100%);
  background: black;
  color: white;
  @include font(0.5em, lighter);
  text-align: center;
}

.footer__social{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.social__icon{
  padding: 10px;

  i{
    color: white;
    font-size: 30px;

  }
}

.footer__copy{
  padding: 5px;
}

