.infoPage{
  display: none;
  background-color: black;
  border-radius: 0 0 0 10px;
  color: white;
  transform: translateY(-600px);
  transition: 1s;
  z-index: -1;

  @media(min-width: 600px){
    display: block;
    @include size(30vw,430px);
  }

  @media(min-width: 700px){
    @include size(40vw,430px);
  }

  @media(min-width: 790px){
    @include size(50vw,430px);
  }

  @media (min-width: 1060px){
    @include size(50vw,390px);
  }

  @media (min-width: 1120px){
    @include size(60vw,390px);
  }
}

.infoReset{
  transform: none;
}

.infoPage__info{
  @include font;
  display:flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  @media (min-width: 800px){
    display: none;
  }
}

.infoPage__about{
  @media (min-width: 800px){
    @include font;
    padding: 20px;
    line-height: 35px;
    height: 100%;
  }
}


