.projectPage{
  @include size;
  padding: 10px;
}

.projectPage__title{
  @include font(1.5em, bold);
  margin-bottom: 50px;
}

.projectPage__projects{
  margin: 0 auto;
  touch-action: manipulation;
}

.projects__project{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.projects__project > *{
  margin-bottom: 40px;
}

.project__image{
  width: 250px;
  height: 250px;
  @include font(1.2em, bold);
}

.info__title{
  @include font(1.2em, bold);
  margin-bottom: 10px;
}

.info__skills{
  @include font(0.8em, lighter);
}



