.skillPage{
  padding: 10px;
  overflow: hidden;
}

.skillPage__skills{
  padding-top: 50px;
  padding-bottom: 50px;
  @media (min-width: 1060px){
    padding-top: 20px;
  }
}

.skills__title{
  @include font(1.5em, bold);
  margin-bottom: 50px;
  transform: translateX(-1000px);
  opacity: 0;
  transition: 1s;
}

.skills__container{
  margin: 10px;
}

.skills__skill{
  @include font;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  @media(min-width: 375px){
    width: 335px;
  }
}

.skills__skill:not(:last-child){
  margin-bottom: 20px;
}

.skill__name{
  transform: translateX(-500px);
  opacity: 0;
  transition: transform 1s, opacity 1s;
}

.skill__level{
  @include size(120px, 15px);
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 5px;
  transform: translateX(1000px);
  opacity: 0;
  transition: transform 1s;

  @media (min-width: 375px){
    @include size(180px, 15px);
  }
}

.transformReset{
  transform: none;
  opacity: 1;
}

.skill__level--html::before, .skill__level--css::before{
  @include size(90%, 100%);
  @include skillLevel;
}

.skill__level--js::before{
  @include size(75%, 100%);
  @include skillLevel;
}

.skill__level--photoshop::before, .skill__level--illustrator::before{
  @include size(60%, 100%);
  @include skillLevel;
}

.skill__level--git::before{
  @include size(65%, 100%);
  @include skillLevel;
}

