@mixin size($width: 100vw, $height: 100vh) {
  width: $width;
  height: $height;
}

@mixin position($top: 0, $left: 0, $translateX: 0, $translateY: 0, $rotate: 0) {
  position: absolute;
  top: $top;
  left: $left;
  bottom: auto;
  right: auto;
  transform:translate($translateX,$translateY) rotate($rotate);
}

@mixin font($font-size: 1em, $font-weight: normal){
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: $font-size;
  font-weight: $font-weight;
}