@import "vendors/reset.scss";

@import "config/mixins.scss";

@import "global/layout.scss";

@import "blocs/header.scss";
@import "blocs/homePage.scss";
@import "blocs/skillPage.scss";
@import "blocs/projectPage.scss";
@import "blocs/contactPage.scss";
@import "blocs/footer.scss";




